header {
  padding: 60px;
  text-align: left;
  color: #8b00ff;
  font-size: 30px;
  font-weight: bolder;
}

logo {
}

menu {
  text-align: center;
  color: #8b00ff;
  font-size: 40px;
  font-weight: bolder;
}

h1{
  color: white;
}
h2{
  color: white;
}

text {
  text-align: center;
  color: white;
  font-size: 30px;
}
/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}


